* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    background: linear-gradient(120deg, #575652, #030303);
    color: orange;
    font-family: 'Poppins', sans-serif;
    min-height: 100vh;
   
}

header, 
main {

  font-size: 30px;
  font-weight: 900;
    min-height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
#user-interface{
    border-radius: 10px;
     padding: 15px;
     margin: 0 auto; 
 }
 #lists{
  
     display: flex;
     flex-wrap: wrap;
     flex-direction: row;
     justify-content: space-around;
     align-items: left;
     padding-top: 10px;
     
 }
 
 .warper {

   position: relative;
   width: 300px;
    box-sizing: border-box;
    background: black;
    border-radius: 10px;
    padding: 1rem;
    margin: 1rem;
  
 
 }
 
  
 
  #add{
   position: relative;
   left:2%;
   outline: none;
    background-color: orange;
     border-radius: 10px;

   padding: 10px;
   transition: 0.13s ease-in-out;
   cursor: pointer;
   text-align: center;
 }
 
 h3 {
     color: orange;
     text-align: center;
 }
  
input {
    background: orange;
    color: black;
}
 
  button {
      background: orange;
  }
  
  i { background: orange; 
      color: black;
  }
  #newToDo {
      color: black;
  }
 
 .btn {
     
    position: relative;
   left:10%;
   outline: none;
    background-color: orange;
     border-radius: 10px;
    padding: 10px;
   transition: 0.13s ease-in-out;
   cursor: pointer;
   text-align: center;
 }
 .btn:hover{
 background: orange;  
 }
 li{
   list-style: none;
  
 }
 #list-name-input{
    position: relative;
   z-index: 9;
   top: 60px;
   width: 300px;
    color: black;
    box-sizing: border-box;
    background: orange;
    border-radius: 10px;
    padding: 1rem;
    margin: 1rem;
    outline: none;
 }
 
 
    
 
